<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="description" content="Polistock">
    <title><%= title %></title>
		<!-- Favicons -->
		<link rel="apple-touch-icon-precomposed" href="https://cdn.glitch.com/045565ad-d70a-42b4-833e-497b68b6d632%2Ffavicon152.png?v=1573518395847">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<link rel="icon" href="https://cdn.glitch.com/045565ad-d70a-42b4-833e-497b68b6d632%2Ffavicon32.png?v=1573518395706" sizes="32x32">
		<!--  Android 5 Chrome Color -->
		<meta name="theme-color" content="#EE6E73">
		<!-- CSS -->
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
		<link href="css/icon.css" type="text/css" rel="stylesheet" media="screen,projection">
    <script src="js/sweetalert2.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/materialize.min.js"></script>
    <script src="js/jspdf.min.js"></script>
    <script src="js/jspdf.plugin.autotable.js"></script>
    <script src="../../js/datepicker/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="../../js/datepicker/css/datepicker.css">
    <link rel="stylesheet" href="../../css/custom.css">
	</head>
	<body>
		<header>
			<nav>
				<div class="container">
				  <div class="nav-wrapper">
					<a href="#" class="brand-logo">Bem vindo <%= usuario %></a>
						<ul id="dropdown2" class="dropdown-content">
						</ul>
						<a class="dropdown-trigger right" href="#!" data-target="dropdown2">
							<i class="material-icons grey-text ">notifications</i>
							<div class="NotificationBox right">
								<p id="NotificationNumber" class="NotificationNumber">3</p>
							</div> 
						</a>
				  </div>
				</div>
			</nav>
			<div class="container">
				<a href="https://materializecss.com/#" data-target="nav-mobile" class="top-nav sidenav-trigger waves-effect waves-light circle hide-on-large-only">
					<i class="material-icons">menu</i>
				</a>
			</div>
			<ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0%);">
				<li class="logo">
					<a id="logo-container" href="#" class="brand-logo">
						<object id="front-page-logo" type="image/png" data="https://cdn.glitch.com/045565ad-d70a-42b4-833e-497b68b6d632%2Fpolistock_logo.png?v=1573518396216">Your browser does not support SVG</object>
					</a>
				</li>
				<li class="bold" style="margin-top:-100px;">
					<a href="SaidaMateriais" class="waves-effect waves-teal"><i class="material-icons" style="color:white;">open_in_browser</i>Saída de Materiais</a>
				</li>
				<li class="bold">
					<a href="ListarLotes" class="waves-effect waves-teal"><i class="material-icons" style="color:white;">add_shopping_cart</i>Entrada de Lotes</a>
				</li>
				<li class="no-padding">
					<ul class="collapsible collapsible-accordion">
						<li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0"><i class="material-icons" style="color:white;">library_books</i>Relatórios</a>
							<div class="collapsible-body">
								<ul>
									<li><a href="RelatorioEntradaMateriais">Entrada de Materiais</a></li>
                  <li><a href="RelatorioSaidaMateriais">Saida de Materiais</a></li>
									<li><a href="RelatorioMediasConsumo">Médias de Consumo</a></li>
								</ul>
							</div>
						</li>
						<li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0"><i class="material-icons" style="color:white;">supervisor_account</i>Administrador</a>
							<div class="collapsible-body">
								<ul>
                  <li><a href="ListarMateriais">Cadastrar Materiais</a></li>
									<li><a href="/CadastrarConta">Gerenciar Usuários</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
        <li class="bold">
					<a href="/RelatorioAVencer" class="waves-effect waves-teal"><i class="material-icons" style="color:white;">access_alarm</i>Materiais à Vencer</a>
				</li>
				<li class="bold">
					<a href="/logout" class="waves-effect waves-teal" style="color:red;"><i class="material-icons" style="color:white;">exit_to_app</i>Logout</a>
				</li>
        <img class="logouvv" src="https://cdn.glitch.com/045565ad-d70a-42b4-833e-497b68b6d632%2FVersao_horizontal_fundo_azul_PNG-01.png?v=1574771111526"/>
				<img class="marcadaagua" src="https://cdn.glitch.com/045565ad-d70a-42b4-833e-497b68b6d632%2Ftooth.png?v=1573518396357"/>
			</ul>
		</header>
		<main>
			<div class="section no-pad-bot" id="index-banner">
				<div class="container" style="padding-left:20px;">
					<h4><%- pagetitle %></h4>
				</div>
			</div>
			<div class="container">
				<%- body %>
			</div>
			<script src="js/init.js"></script>
      <script>
        
          var Notificacoes = <%- notificacoes %>;
          var Codigo = "";
          for(c = 0; c < Notificacoes.length; c++)
          {
            Codigo += "<li><a href='#!'><span style='color:black;'>" + Notificacoes[c].LOT_QUANTITY + "</span> unidade(s) de <span>" + Notificacoes[c].MATE_NAME + "</span> venceu(ram) em <span style='color:red;'>" + dataAtualFormatada(Notificacoes[c].LOT_VALIDITY)+ "</span></a></li>";
          }
          document.getElementById("dropdown2").innerHTML = Codigo;
        document.getElementById("NotificationNumber").innerHTML = Notificacoes.length;
        
        function dataAtualFormatada(Data)
          {
            console.log("data", Data)
            return Data.split('-').reverse().join('/');
          }
      </script>
		</main>
	</body>
</html>